.sidebar {
  width: 240px;
  background-color: #555;
  height: 1250px;
}


li :first-of-type {
  padding-top: 0;
}

ol li {
  padding-top: 30px;
  list-style-type: none;
}

h5 {
  margin-top: 30px;
  margin-bottom: 0;
}